# Environments
venv/
env/
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Database
instance/
*.db
*.sqlite3

# Uploads / Media
uploads/
app/static/uploads/

# IDEs
.vscode/
.idea/
*.swp
.gemini/
